#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.titleCard {
  background-color: rgb(191, 105, 19);
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.titleCard h1 {
  margin-bottom: 10px;
  font-size: 35px;
}

.subheadingCard {
  padding: 0.5em;
  background-color: #555555;
  margin: 0em;
}

.subheadingCard p {
  font-size: 16px;
  margin: 0%;
}

.searchCard {
background-color: rgb(43, 165, 165);
}

.searchCard h3 {
  font-size: 18px;
  margin: 0%;
}

.inputSelect input, .inputSelect select {
  padding: 0.6em;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 7px;
}
.searchButton {
  background-color: rgb(177, 84, 84);
  padding: 4px;
}

.resultsFound {
  background-color: rgb(237, 206, 51);
}

.artworkCard {
  background-color: rgb(126, 125, 125);
  display:flex;
  width: 98%;
  margin: auto;
  margin-top: 1em;
  padding: 2px;
}

.artworkCardHeader {
  background-color: rgb(164, 86, 176);
  margin: auto;
  max-width: 90%;
  border-radius: 8px;
}


.artworkCardImg {
  background-color: rgb(183, 43, 238);
  height: 200px;
  width: 200px;
}

.artworkCardImg img{
  height: 196px;
  width: 196px;
  object-fit: contain;
  overflow: hidden;
  font-size: smaller;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.artworkButton {
display: flex;
width: 93%;
margin: 0%;
padding: 0%;
background-color: rgb(255, 0, 0);
}

.prevNextButtons {
  background-color: rgb(13, 225, 24);
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.prevNextButtons button {
  margin: auto;
}

.fullDetails button {
background-color: rgb(106, 233, 237);
width: 98%;
margin-top: -10px;
position: relative;
top: -5px;
}

.fullDetails p {
  width: 60%;
  text-align: center;
  margin: auto;
}

#smallLoadingGif {
  height: 50px;
  width: 50px;
}

.detailHeadings {
background-color: aquamarine;
margin-bottom: 5px;
}
.detailDescr {
  background-color: blueviolet;
}

.detailDescr p {
  margin: 0%;
width: fit-content;
}

#paginationLoading {
  width: 30px;
  object-fit:contain;
}

#hidden {
  visibility: hidden;
}

.moreInfo {
  background-color: blue;
  padding: 5px;
  margin: 3px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.viewAt {
  background-color: rgb(78, 18, 73);
  margin-top: 5px;
  margin-bottom: 10px;
}

.viewAt p {
  width: 100%;
}

.expandImg {
  height: fit-content;
  float: right;
  position:relative;
  bottom: 44px;
  right: 8px;
  background-color: rgb(82, 214, 93);
  margin: 0%;
  padding: 3px;
  display: flex;
  z-index: 1;
}

#expandIcon{
  width: 18px;
  height: 18px;
  object-fit: scale-down;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.overlay {
  background: #292828;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalImg {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: scale-down;
}