:root {
  font-family: Trebuchet MS, Lucida, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(10, 9, 9, 0.87);
  background-color: #5c5470;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 50vw;
  min-height: 100vh;
  height: fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5c5470;
  ;
  color: #dbd8e3;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:active {
  background-color: #977bdd;
  transition-duration: 0.3s;
}

#root {
  width: 100vw;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  height: fit-content;
  min-height: 100vh;
  background-color: #5c5470;
}

.titleCard {
  background-color: #2a2438;
  margin-bottom: 0%;
  padding-bottom: 1px;
  color: #dbd8e3;
  border-radius: 5px;
}

.titleCard h1 {
  margin-bottom: 10px;
  margin-top: 8px;
  font-size: 35px;
}

.subheadingCard {
  padding: 0.5em;
  background-color: #2a2438;
  color: #edeaf6;
  margin: 0em;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 5px;
}

.subheadingCard h3, .subheadingCard h4{
  margin: 0%;
}

.subheadingCard p {
  font-size: 16px;
  margin: 0%;
}

.searchCard {
background-color: #edeaf6;
color: #2a2438;
margin-top: 10px;
border-radius: 5px;
}

.searchCard h3 {
  font-size: 18px;
  margin: 0%;
}

.inputSelect input, .inputSelect select {
  padding: 0.6em;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 7px;
  font-weight: 500;
}
.searchButton {
  background-color: #edeaf6;
  padding: 4px;
  border-radius: 5px;
}

.resultsFound {
  background-color: #977bdd;
  font-weight: 600;
  color:#292828;
  border-radius: 5px;
}

.artworkCard {
  background-color: #292828;
  display:flex;
  width: 98%;
  margin: auto;
  margin-top: 1em;
  padding: 2px;
  border-radius: 5px;
  border: #dbd8e3;
  border-style: groove;
}

.artworkCardHeader {
  background-color: #dbd8e3;
  margin: auto;
  max-width: 90%;
  border-radius: 8px;
  opacity: 1;
  color: #292828;
  font-weight: 500
}


.artworkCardImg {
  background-color: #292828;
  height: 200px;
  width: 200px;
}

.artworkCardImg img{
  height: 196px;
  width: 196px;
  object-fit: contain;
  overflow: hidden;
  font-size: smaller;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.artworkButton {
display: flex;
width: 93%;
margin: 0%;
padding: 0%;
background-color: #292828;
}

.artworkButton p {
  margin-bottom: 0;
}

.prevNextButtons {
  background-color: #977bdd;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
  border-radius: 5px;
}

.prevNextButtons button {
  margin: auto;
}



.fullDetails button {
background-color: #292828;
width: 100.5%;
margin-top: -10px;
position: relative;
top: -5px;
color:#dbd8e3;
border-left: #dbd8e3;
border-right: #dbd8e3;
border-bottom: #dbd8e3;
border-style: groove;
}

.fullDetails p {
  width: 60%;
  text-align: center;
  margin: auto;
  background-color: #2a2438;
  border-radius: 5px;
}

#smallLoadingGif {
  height: 50px;
  width: 50px;
}

.detailHeadings {
background-color: #5c5470;
margin-bottom: 8px;
border-radius: 5px;
font-weight: 600;
}

.detailHeadings p  {
  width: 90%;
background-color: #5c5470;
}
.detailDescr {
  border: #977bdd;
  border-style: solid;
  border-radius: 5px;
  margin-top: 10px;
}

.detailDescr p {
  margin: 0%;
width: fit-content;
}

#paginationLoading {
  width: 30px;
  object-fit:contain;
}

#hidden {
  visibility: hidden;
}

.moreInfo {
  background-color: #5c5470;
  padding: 5px;
  margin: 0px;
  padding-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: #dbd8e3;
  font-weight: 700;
}

.viewAt, .creditLine, .mediumDate {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;

  
}

.viewAt p, .creditLine p, .mediumDate p {
  width: 100%;
  display: inline;
}

.viewAt p {
  background-color: #dbd8e3;
  opacity: 0.7;
  color:#2a2438;
  padding-left: 2px;
  padding-right: 2px;
}

.viewAt {
  background-color: #dbd8e3;
  opacity: 0.7;
}

.artistDetails{
  margin: 0%;
}

.expandImg, .addRemoveCol {
  height: fit-content;
  float: right;
  position:relative;
  bottom: 44px;
  right: 8px;
  background-color: #977bdd;
  margin: 0%;
  padding: 3px;
  display: flex;
  z-index: 1;
}

#expandIcon, #heart{
  width: 21px;
  height: 21px;
  object-fit: scale-down;
  margin: 0%;
  padding: 0%;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  color: #dbd8e3;
  font-size: large;
}

.overlay {
  background: #292828;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalImg {
  max-width: 99vw;
  max-height: 90vh;
  object-fit: scale-down;
}

.expColButton {
  width: 40px;
  object-fit: scale-down;
  background-color: #dbd8e3;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 8px;
  border-radius: 5px;
  opacity: 0.7;
}

#headingArrow {
  margin: auto;
  position: relative;
  background-color: #dbd8e3;
  border-radius: 5px;
  min-width: 100px;
  max-width: 140px;
}



.resultsErr {
  background-color: #977bdd;
  padding-left: 1vw;
  padding-right: 1vw;
  width: fit-content;
  margin: auto;
}

.resultsFoundErr {
  background-color: #977bdd;
  padding-bottom: 1px;
  font-weight: 500;
  line-height: 0px;
  color:#292828;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation {
  background-color: #dbd8e3;
  display: flex;
  justify-content: end;
  opacity: 0.7;
  border-radius: 5px;
}

.navigation button {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.addRemoveCol {
  margin-right: 10px;
}

.colNoRes {
  background-color: #977bdd;
  opacity: 0.7;
  border-radius: 5px;
}

.nothingHere {
  padding-top: 50% ;
  padding-bottom: 50% ;
}

.returnSearch {
  background-color: #2a2438;
  padding-top: 5%;
  padding-bottom: 5%;border-radius: 5px;
  color: #dbd8e3;
}

.errShow, .colError {
  background-color: #977bdd;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-top: 5px;
  opacity: 0.9;
}

.loadingErr {
  margin-top: 25px;
}

.loadingErr img {
  border-radius: 5px;
  opacity: 0.4;
}

.errMsg {
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
  background-color: #977bdd;
  opacity: 0.8;
  border-radius: 5px;
  margin:auto;
}

.errMsg p {
  margin-bottom: 0%;
  margin-top: 0%;
}